<h1>Faculty enrollees </h1>

<table class="table table-bordered">
  <thead>
  <tr>
    <th> <%= t('.faculty')%> </th>
    <th> <%= t('.enrollee')%></th>
    <th> <%= t('.action')%> </th>
  </tr>
  </thead>

  <tbody>
  <% @faculties.each do |faculty| %>
      <tr>
        <td> <%= faculty.name %> </td>
        <td>  </td>
        <td class="text-center"> <%= link_to t('.add'), faculty_enrollees_add_path(:faculty_id => faculty.id) %> </td>
      </tr>
      <% if faculty.users%>
      <% faculty.users.each do |user| %>
          <tr>
            <td></td>
            <td class="text-center" > <%= user.first_name %>  <%= user.last_name %></td>
            <td class="text-center"> <%= link_to t('.delete'), faculty_enrollees_delete_path(:user_id => user.id,:faculty_id => faculty.id ) %> </td>
          </tr>
      <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>
<div class="text-center"><%= link_to t('.back'), admin_index_path%></div>