<div class="text-center">
  <% if params[:alert] %>
      <ul class="list-group"><li class="alert list-group-item list-group-item-danger"><%= params[:alert] %></li></ul>
  <% end %>
  <% if @faculty_enrollees.empty?%>
      <h3> <%= t(".no_admission_list") %> </h3>
  <% else %>
      <h3><%= t(".faculty_admission_list")%> </h3>
      <h4><%= t(".limit") %> <%= @limit%> </h4>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>№</th>
              <th><%= t(".full_name")%></th>
              <th><%= t(".average") %></th>
            </tr>
            </thead>
            <tbody>
            <% @faculty_enrollees.each_with_index  do |enrollee, index|%>
                <tr>
                  <td> <%= index + 1%> </td>
                  <td> <%= enrollee.user.first_name %> <%= enrollee.user.last_name%> </td>
                  <td> <%= enrollee.grade %> </td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <br>
  <% end%>
</div>
<ul class="list-group">
  <li class="list-group-item text-center"><%= link_to t(".back"), admin_index_path %></li>
</ul>





